<aside>
   <img [src]="imagemLogo" alt="logo fiap"> <!-- Usando variavel de classe com propriedade de tag -->
   <h1>{{titulo}}</h1> <!-- Interpolação de componente de classe -->
   <form id="form-notes" [formGroup]="checkoutForm" (submit)="sendNote()">
      <div class="input-group">
         <label>Nota:</label>
         <textarea id="input-cpf" required placeholder="Digite a nota" formControlName="textNote"></textarea>
         <div *ngIf="textNote?.touched"> <!-- ngIf verifica se o usuario entrou e saiu -->
            <div class="errors" *ngIf="textNote?.errors?.['required']">
               Esse campo é obrigatório!
            </div>
            <div class="errors" *ngIf="textNote?.errors?.['minlength']">
               Precisa ter no mínimo 5 caracteres!
            </div>
         </div>
      </div>
      <button [disabled]="!checkoutForm.valid">Salvar</button>
   </form>
</aside>